* {
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
}

/* FORM */
.form {
  max-width: 500px;
  margin: 30px auto;
  background: #111827;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.form button {
  padding: 10px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px;
}

/* CARD */
.card {
  background: #111827;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
}

.name {
  margin: 10px 0;
}

.role {
  color: #38bdf8;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

