* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f0f4f8;
  color: #37474f;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s ease;
}

img,
svg {
  max-width: 100%;
  display: block;
}
