* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.form-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.review-form {
  width: 380px;
  padding: 22px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.review-form label {
  display: block;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

.review-form input,
.review-form textarea,
.review-form select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.review-form textarea {
  height: 80px;
  resize: none;
}

.review-form button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.review-form button:hover {
  background: #333;
}

.error-text {
  font-size: 13px;
  color: red;
}

.card-section {
  margin: 40px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.review-card {
  width: 250px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.review-card:hover {
  transform: translateY(-6px);
}

.review-card h3 {
  margin-bottom: 5px;
}

.rating {
  color: #f1c40f;
}
.rating-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.star {
  font-size: 26px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

.star.active {
  filter: grayscale(0%);
}

.emoji {
  font-size: 30px;
  margin-left: 10px;
}
